<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>app-example</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="LASTLINES" class="ar.com.fluxit.em.controller.LastLinesAppender"/>
	
	<logger name="ORG" level="DEBUG" />
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LASTLINES" />
	</root>

</configuration>
